<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/_head") %>
    <title>Getr - My Account</title>
</head>

<body>
  <%- include("partials/_navbar") %>
    <main class="main-container">
      <div class="container-l" id="dashboard-card">
        <div class="container-l" id="dashboard-profile">
          <div class="user-profile">
            <!-- <img src="./images/user.jpg" alt="user"> -->
            <div class="default-icon">
              <i class="fas fa-user"></i>
            </div>

            <h3><%=userInfo.first_name%></h3>
          </div>
          <div class="links container-l">
            <div class="link">
              <a href="/account/<%=id%>/faves"><button type="button" class="btn" id="dashboard-fav">Favourites <i class="fas fa-heart"></i></button></a>
            </div>
            <div class="link" id="dashboard-listings">
              <a href="/account/<%=id%>/listings"><button type="button" class="btn" id="dashboard-fav">Lisitings<i class="fas fa-stream"></i></button></a>
            </div>
            <div class="link" id="dashboard-messages">
              <button type="button" class="btn" id="dashboard-fav" style="display:none">Messages <i class="fas fa-comment"></i>
            </div>
          </div>
        </div>
        <div class="container-l" id="dashboard-lists">
          <% if (true) { %>
            <div id="message-for-empty">
              <h2>Welcome to your account dashboard</h2>
              <h3>What are you waiting for <i class="fas fa-guitar"></i></h3>
            </div>

            <% } else { %>

              <p>some listings</p>
              <p>some listings</p>
              <p>some listings</p>
              <p>some listings</p>

              <% }; %>
        </div>
      </div>
    </main>
</body>

</html>
