<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include("partials/_head")  %>
  <script src="/scripts/favourite.js"></script>
  <title>GETr</title>

</head>

<body>
  <%- include("partials/_navbar")  %>
  <main class="main-container">
    <div class="listings-page">
      <div class="listings-title">
        <%= title %>
      </div>
      <div class="listings">

        <% if (listingInfo) { %>
          <% for (let listing in listingInfo) { %>
            <a href="/listings/<%=listingInfo[listing].id%>">
              <div class="listings-item">
                <div class="listings-image">
                  <img id="no-image-vector" src="/images/guitar-vector.png">
                </div>
                <div class="listing-item-id" style="display:none"><%= listingInfo[listing].id %> </div>
                <div class="listing-item-id" style="display:none"><%= id %> </div>
                <div class="listings-info">
                  <div class="listings-mid">
                    <div class="specs">
                      <div class="listings-make">
                        <%= listingInfo[listing].brand %>
                      </div>
                      <div class="listings-model">
                        <%= listingInfo[listing].model %>
                      </div>
                     </div>
                     <div class="listings-price">
                      <%= listingInfo[listing].cost %>
                     </div>
                  </div>
                   <div class="listings-description">
                      <%= listingInfo[listing].descrip %>
                   </div>
                 </div>
            </a>
               <div class="listings-footer">
                 <div>
                  <i class="fas fa-heart favourite-icon"></i>
                 </div>
                 <div>
                   <i class="fas fa-envelope"></i>
                 </div>
               </div>
          </div>
          <% } %>
        <% } %>
      </div>
  </main>

  </body>
</html>
