<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/_head") %>
    <script src="/scripts/favourite.js"></script>
    <title>GETr</title>

</head>

<body>
  <%- include("partials/_navbar") %>
    <main class="main-container">
      <div class="listings-page">
        <div class="listings-title">
          <%= title %>
            <!-- <form id="filter-form" method="POST" action="/search"> -->



              <div class="btn-group">
                <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Filter <i class="fas fa-filter"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <form id="price-range" method="POST" action="/search">
                    <%  if (searchInput) { %>
                        <input type="text" name="input" class="form-control" id="search-result" value=<%=searchInput%> aria-describedby="filterResults" style="display: none">
                    <%  } else { %>
                        <input type="text" name="input" class="form-control" id="search-result" aria-describedby="filterResults" style="display: none">
                     <% } %>
                      <p>Price:</p>
                      <div class="form-group">
                        <label for="minPrice">from</label>
                        <input id="minPrice" name="min_price" class="form-control form-control-sm" type="number">
                      </div>
                      <div class="form-group">
                        <label for="maxPrice">to</label>
                        <input id="maxPrice" name="max_price" class="form-control form-control-sm" type="number">
                      </div>
                      <button id="update-btn" type="submit" class="btn btn-primary">Update</button>
                    </form>
                  </li>
                </ul>
              </div>
            </form>

        </div>
        <div class="listings">
          <% if (listingInfo) { %>
            <% for (let listing in listingInfo) { %>
              <a href="/listings/<%=listingInfo[listing].id%>">
                <div class="listings-item">
                  <div class="listings-image">
                    <img id="no-image-vector" src="/images/guitar-vector.png">
                  </div>
                  <div class="listings-info">
                    <div class="listings-mid">
                      <div class="specs">
                        <div class="listings-make">
                          <%= listingInfo[listing].brand %>
                        </div>
                        <div class="listings-model">
                          <%= listingInfo[listing].model %>
                        </div>
                      </div>
                      <div class="listings-price">
                        <%= listingInfo[listing].cost %>
                      </div>
                    </div>
                    <div class="listings-description">
                      <%= listingInfo[listing].descrip %>
                    </div>
                  </div>
              </a>
              <div class="listings-footer">
                <div>
                  <% if (favourites.includes(listingInfo[listing].id)) { %>
                    <i class="fas fa-heart favourite-icon red">

                      <% } else { %>
                        <i class="fas fa-heart favourite-icon">
                          <% } %>
                            <div class="fave-item-id" style="display:none">
                              <%= listingInfo[listing].id %>
                            </div>
                            <div class="fave-user-id" style="display:none">
                              <%= id %>
                            </div>
                        </i>
                </div>
                <div>
                  <i class="fas fa-envelope"></i>
                </div>
              </div>
        </div>
        <% } %>
          <% } %>
      </div>
    </main>

</body>

</html>
