<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/_head")%>
    <script src="/scripts/contact-seller.js"></script>
    <script src="/scripts/mark-as-sold.js"></script>
    <script src="/scripts/delete-listing.js"></script>

    <title>GETr</title>
</head>

<body>
  <%- include("partials/_navbar") %>
    <main class="main-container">
      <div id="contact-seller-form">
        <form action="">
          <div id="title-contact">
            <label for="exampleFormControlTextarea1">Contact Seller</label>
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="form-group">
            <textarea class="form-control" id="contact-message" rows="4" required></textarea>
          </div>
          <div id="check-button">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
              <label class="form-check-label" for="defaultCheck1">
                I agree for seller to have access to my e-mail.
              </label>
            </div>
            <button type="submit">Send</button>
          </div>
        </form>
      </div>

      <div class="listing">
        <div class="listing-image">
        <%  if (listingInfo.listing_pic) { %>
            <img src="<%=listingInfo.listing_pic%>">
        <%  } else { %>
            <img src="/images/guitar-vector.png">
        <%  } %>
        </div>
        <div class="listing-right">
          <div class="listing-info">
            <div class="listing-mid">
              <div class="listing-specs">
                <h1 id="listing-brand">
                  <%= listingInfo.brand %>
                </h1>
                <h2 id="listing-model">
                  <%= listingInfo.make %>
                </h2>
              </div>
              <p id="listing-price">
                <%= listingInfo.price %>
              </p>
            </div>
            <p id="listing-description">
              <%= listingInfo.descrip %>
            </p>
          </div>
          <div class="listing-footer">

            <% if (id !== listingInfo.seller_id) { %>
              <button id="fave-listing" href="">Add to Favourites
                <i class="fas fa-heart"></i>
              </button>
              <!-- onclick="contact()" -->
              <button id="contact-seller" href="">Contact Seller
                <i class="fas fa-envelope"></i>
              </button>
              <% } else { %>
                <button id="sold-listing" class="mark-as-sold" href="">Mark as Sold
                  <i class="fas fa-check"></i>
                  <div class="fave-item-id" style="display:none"><%= listingInfo.id %> </div>
                </button>
                <form method="POST" action="/listings/<%=listingInfo.id%>/delete">
                  <button type="submit" id="delete-listing" href="">Delete Listing
                    <i class="fas fa-trash"></i>
                    <input name="listingId" style="display:none" type=text value=<%=listingInfo.id%>>
                 <!--    <div class="fave-item-id" style="display:none"><%= listingInfo.id%> </div>
                    <div class="fave-user-id" style="display:none"><%= id%> </div> -->
                  </button>
                </form>
                <% }; %>
          </div>
        </div>
      </div>
      </div>
    </main>
</body>

</html>
